<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
  <h1>Team Name: <%=@teamname%></h1>
  <h2>Coach: <%=@coach%></h2>
  <h3>Point Guard: <%=@pg%></h3>
  <h4>Shooting Guard: <%=@sg%></h4>
  <h5>Power Forward: <%=@pf%></h5>
  <h6>Small Forward: <%=@sf%></h6>
  <h7>Center: <%=@c%></h7>
 </head>
 <body>
 


 </body>
</html>


